img{
    width: 400px;
    height: 400px;
}
h1{
    font-size: 64px;
}
h2{
    font-size: 34px;
}
h1, h2{
    
    color: #3E2723;
    text-align: center;
}
p{
    font-size: 16px;
    color: #263238;
}
 .carbohydrate, .protein, .vitamin, .fibre, .water , .fat, .mineral{ 
    border: 2px solid #6D4C41;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    ;
} 
 .carbohydrate{
    background-color: #FFF3E0;
    
 }
 .protein{
    background-color: #FBE9E7;
}
 .vitamin{
     background-color: #FFFDE7;
}
.fibre{
    background-color: #FFF8F1;
 }
 .fat{
    background-color: #E8F5E9;
 }
 .mineral{
    background-color: #F3E9FF;
 }
.water{
    background-color: #E0F2F1;
}
h1 span{
    color: white;
    background: linear-gradient(90deg,#4E342E,#6D4C41);
    text-decoration: underline;
    border-radius: 10px;
    padding: 10px 10px;
}
ul{
    list-style: square;
}
.water ul{
    list-style: disc;
}
a{
    text-decoration: none;
}
.middle, .btn{
    text-align: center;
}
.btn{ 
     color: white;
    /* background: linear-gradient(90deg,#4E342E,#6D4C41); */
    text-align: center;
    border-radius: 10px;
    padding: 10px 10px;
    ;

} 